* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width:1440px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.watch {
    width:620px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.watch > div {
    width:150px;
    border:1px solid #ddd;
    height:150px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.watch > div > .box {
    width:100%;
    height: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:100%;
    left:0;
}

.watch > div > .box:first-child {
    top:0;
}